---
---

@import "{{ site.theme }}";

a {
  text-shadow: none !important;
  opacity: 1 !important;
}

li a {
  font-size: 1.4rem;
  font-weight: 600;
}

li span {
  font-size: 1rem;
  opacity: 0.75;
}


