---
---

@import "{{ site.theme }}";

a {
  text-shadow: none !important;
  opacity: 1 !important;
}

li a {
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.2rem; 
}
li span {
  font-size: 1rem;
  opacity: 0.75;
}

.post-description {
  font-size: 1rem;
  opacity: 0.85;
  margin: 0 0 0.4rem 0;
}

